.Colors {
    & .palette-actions {
        display: flex;
        gap: 1rem;
    }

    & .palette-shades {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    & .new-card {
        padding: 1.5rem;
        background: var(--color-white-pure);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-radius: var(--radius-standard);

        & header {
            font-weight: bolder;
            font-size: 1.5rem;
        }

        & main {
            display: flex;
            gap: 1rem;

            & [type="color"] {
                --size: 2.5rem;
                all: unset;
                margin: 0;
                padding: 0;
                border-radius: var(--radius-standard);
                overflow: hidden;
                width: var(--size);
                height: var(--size);
                cursor: pointer;
            }
        }
    }
}
