.ColorStrip {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    align-content: center;
    justify-content: center;
    gap: 0.5em;

    & .container {
        display: flex;
        color: black;
        padding: 1em;
        border-radius: var(--radius-standard);
        justify-content: center;

        & label {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 1rem;
        }

        & input[type="text"] {
            all: unset;
            width: 100px;
        }

        & input[type="color"] {
            height: 0;
            width: 0;
            opacity: 0;
            scale: 0;
        }
    }

    & .part {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .Tip {
            &.active {
                scale: 1;
            }
        }
    }

    & .interactive {
        cursor: pointer;
        width: max-content;
    }
}
