.ColorPalette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    &.rows {
        display: flex;
        flex-direction: column;

        & .ColorStrip {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            > span, > div {
                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
