.Contrast {
    & main {
        display: flex;
        flex-direction: column;
    }

    & .compliance {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 1.5rem;

        & .compliance-level {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            color: var(--color-white-pure);
            padding: .5rem;
            border-radius: 5px;

            &.pass {
                background: var(--color-green);
            }

            &:not(.pass) {
                background: var(--color-red);
            }
        }
    }

    & .options .bottom {
        justify-content: stretch;
    }

    & .color-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        & button {
            --contrast: #fff;
            all: unset;
            position: relative;
            flex-basis: 75px;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0.5rem;
            cursor: pointer;
            border-bottom: 5px solid var(--color-white-pure);
            transition: 100ms ease-in-out;
            text-align: center;
            color: var(--contrast);

            & .icon {
                position: absolute;
                scale: 0;
                left: .5em;
                top: 50%;
                translate: 0 -50%;
                transition: 100ms ease-in-out;
            }

            &.active .icon {
                scale: 1;
            }
        }
    }

    & .compliance-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 1.5rem;
        flex: 1;

        & button {
            all: unset;
            padding: 1em 1.5em;
            border-radius: 5px;
            cursor: pointer;
        }

        & p {
            text-align: center;

            &.big {
                font-size: 2rem;
            }
        }
    }
}
