.CssCode {
    & .code-wrapper {
        display: flex;
        justify-content: center;
        padding: 2em 0;
        background: #011627;
    }

    & .options {
        display: flex;
        justify-content: space-between;
        background: var(--color-white-pure);
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    & .style-buttons {
        display: flex;

        button {
            all: unset;
            color: var(--color-white);
            background: var(--color-blue);
            padding: .5rem 1.5rem;
            border: 1px solid var(--color-blue-dark);
            cursor: pointer;
            transition: 100ms ease-in-out;

            &.active {
                background: var(--color-blue-dark);
            }

            &:hover {
                background: var(--color-blue-dark);
            }

            &:not(:last-child) {
                border-right: none;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}
