* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--color-accent);
    color: var(--color-accent-contrast);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--radius-standard);
    background: #b2bec3;
    transition: var(--transition-time);
}

::-webkit-scrollbar-track {
    border-radius: var(--radius-standard);
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
    border-radius: 100%;
    background: #b2bec3;
}

:root {
    --transition-time: 250ms;
    --radius-standard: .5rem;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    overflow-y: auto;
    overflow-x: hidden;

    &.layer {
        overflow: hidden;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

#__nuxt {
    min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-main);
    transition: var(--transition-time);

    &:hover {
        color: var(--color-main-hover);
    }
}

ul {
    list-style: none;
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    place-items: stretch;
    gap: 2rem;
}

.content {
    --v-padding: 50px;
    position: relative;
    z-index: 100;
    padding-top: var(--v-padding);
    padding-bottom: var(--v-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.max-width {
    --content-paddings: 50vw;
    width: clamp(300px, var(--content-paddings), 1200px);
}

.full-width {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.small-max-width {
    --content-paddings: 50vw;
    width: clamp(300px, var(--content-paddings), 900px);
}

.center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.full {
    min-height: 100vh;
}

.highlight {
    outline: 10px solid var(--color-accent);
    transition: outline var(--transition-time) ease-in-out;
}

.highlight.fading {
    outline: 0 solid transparent;
}

.margin-top {
    margin-top: 3rem;
}

.margin-top-big {
    margin-top: 6rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.gap-default {
    gap: 2rem;
}

.gap-small {
    gap: .5rem;
}

.z-0 {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

.z-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.z-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.z-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.z-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.z-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.badge {
    position: absolute;
    right: -1rem;
    top: -.5rem;
    padding: .2em 1em;
    background: var(--color-main);
    color: var(--color-main-contrast);
    border-radius: 999px;
    font-size: .6rem;
}

@media (width <= 450px) {
    .content-paddings {
        --content-paddings: 10vw;
    }
}
