* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--color-blue);
    color: var(--color-black);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #b2bec3;
    transition: var(--transition-time);
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
    border-radius: 100%;
    background: #b2bec3;
}

:root {
    --spacing-standard: 3rem;
    --transition-time: 250ms;
    --radius-standard: 4px;

    --color-white: #ecf0f1;
    --color-white-transparent: rgba(236, 240, 241, 0.5);
    --color-white-pure: #fff;

    --color-green: #0a750a;
    --color-red: #900;

    --color-black: #07171a;
    --color-black-transparent: #07171aaa;

    --color-grey-dark: #666;
    --color-grey-darker: #333;

    --color-blue-light: #339db0;
    --color-blue: #1e5c68;
    --color-blue-dark: #184951;
    --color-blue-black: #07161a;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    overflow-y: auto;
    overflow-x: hidden;

    &.layer {
        overflow: hidden;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    background: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-black);
    transition: var(--transition-time);

    &:hover {
        color: var(--color-blue);
    }
}

ul {
    list-style: none;
    display: flex;
}

span.highlight {
    color: var(--color-blue);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    place-items: stretch;
    gap: 2rem;
}

.card {
    padding: 2rem;
    background: var(--color-white-pure);
    border-radius: 20px;
    min-width: 300px;
    text-align: center;
}

.content {
    --v-padding: 50px;
    position: relative;
    z-index: 100;
    padding-top: var(--v-padding);
    padding-bottom: var(--v-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-paddings {
    --content-paddings: 15vw;
    padding-left: var(--content-paddings);
    padding-right: var(--content-paddings);
}

.full {
    min-height: 100vh;
}

.margin-top {
    margin-top: 3rem;
}

.margin-top-big {
    margin-top: 6rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.default-gap {
    gap: 3rem;
}

.z-0 {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

.z-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.z-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.z-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.z-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.z-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.badge {
    position: absolute;
    right: -1rem;
    top: .5rem;
    padding: .2em 1em;
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 999px;
    font-size: .6rem;
}

@media (width <= 450px) {
    .content-paddings {
        --content-paddings: 10vw;
    }
}
