.Header {
    --padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    top: 0;
    z-index: 20000;

    & h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: default;
        user-select: none;

        & img {
            height: 40px;
        }
    }

    & nav {
        padding: 0 var(--padding);
        font-size: 1rem;
        line-height: 1.5;

        & ul {
            display: flex;
            list-style: none;
            gap: 6rem;
            height: 100%;

            & li {
                position: relative;
                display: flex;

                & a {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    transition: all 0.2s ease-in-out;
                    border-bottom: 4px solid transparent;

                    &.active {
                        color: var(--color-blue);
                        border-bottom-color: var(--color-blue);
                    }
                }
            }
        }
    }
}
