.IconToolbar {
    justify-content: space-between;

    & .buttons {
        display: flex;
        gap: 1rem;

        & .icon {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .toolbar-button {
            cursor: pointer;

            &:hover + .tip {
                scale: 1;
            }
        }


        & .tip {
            font-size: .8rem;
            padding: .2em 1em;
            border-radius: 0.2em;
            position: absolute;
            bottom: 3rem;
            scale: 0;
            transition: 150ms;
            white-space: nowrap;
            background: var(--color-black-transparent);
            color: var(--color-white);
        }
    }
}
