.IconButton {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .icon {
        cursor: pointer;

        &:hover + .Tip {
            scale: 1;
        }
    }
}
