.Tip {
    scale: 0;
    font-size: .8rem;
    padding: .2em 1em;
    border-radius: 0.2em;
    position: absolute;
    bottom: 2rem;
    transition: 150ms;
    white-space: nowrap;
    background: var(--color-black-transparent);
    color: var(--color-white);
}
