.TextField {
    &.full {
        width: 100%;
    }

    &.big {
        font-size: 1.2em;
    }

    & .field {
        &.disabled {
            cursor: not-allowed;
            background: var(--color-black-transparent);
            color: var(--color-grey-dark);

            & > label {
                color: var(--color-grey-darker);
            }
        }

        & > input {
            all: unset;
            flex-grow: 1;
        }

        & > .suffix {
            all: unset;
            cursor: pointer;

            &:hover {
                color: var(--color-blue);
            }
        }

        & > .prefix,
        & > .suffix {
            display: flex;
            align-items: center;
        }

        & > .prefix {
            margin-right: 1rem;
        }

        & > label {
            position: absolute;
            pointer-events: none;
            top: -.8rem;
            left: calc(1rem - 4px);
            font-size: 13px;
            line-height: 24px;

            & > .req {
                color: var(--color-blue);
            }
        }

        & > label.move-left {
            left: 2.7rem;
        }

        & > label:not(.move-left) {
            left: 1rem;
        }

        &:focus-within {
            border: 1px solid var(--color-blue);

            & > label {
                color: var(--color-blue);
            }
        }
    }
}
